<section id="add">
	<form action="/" method="post">
		<textarea name="topic" placeholder="Topic"></textarea>
		<textarea name="presenter" placeholder="Your name"></textarea>
		<textarea name="link" placeholder="A link to your stuff&hellip;"></textarea>
    <div class="minutes">
      <label>Minutes</label>
      <select name="time_allotted">
        <option value=2>2</option>
        <option value=5>5</option>
      </select>
    </div>
		<input type="submit" value="Enqueue">
	</form>
</section>

<div id="presentations">
	<%= yield %>
</div>
