<section id="add">
	<form action="/" method="post">
		<p>
			<textarea name="topic" placeholder="Topic"></textarea>
		</p>
		<p>
			<textarea name="presenter" placeholder="Your name"></textarea>
		</p>
		<p>
			<textarea name="link" placeholder="A link to your stuff&hellip;"></textarea>
		</p>
		<input type="submit" value="Enqueue">
	</form>
</section>

<div id="presentations">
	<%= yield %>
</div>
