<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf8">
		<title><%= @title + ' | Presentator' %></title>
		<link href="/font-awesome.min.css" rel="stylesheet">
		<link href="/reset.css" rel="stylesheet">
		<link href="/style.css" rel="stylesheet">
		<script type="text/javascript" src="/lib/jquery-1.9.1.js"></script>
	</head>
	<body>
		<header>
			<hgroup>
                <h1><a href="/">Presentator</a></h1>
				<h2>all your presentation are belong to us</h2>
			</hgroup>
		</header>
		
		<div id="main">
			<%= yield %>
		</div>
		
		<footer>
		 <p><small>for science</small></p>
		</footer>
		
		<script type="text/javascript" src="/js/update.js"></script>
		<script type="text/javascript" src="/js/timer.js"></script>
	</body>
</html>
