<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf8">
		<title><%= @title + ' | Presentator' %></title>
		<link href="/css/font-awesome.min.css" rel="stylesheet">
		<link href="/css/reset.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<hgroup>
                <h1><a href="/">Presentator</a></h1>
				<h2>all your presentation are belong to us</h2>
			</hgroup>
		</header>
		
		<div id="main">
			<%= yield %>
		</div>
		
		<footer>
      <p>
        <a href="https://github.com/RedCupCorporation/Presentator" class="github">
          <i class="icon-github"></i>
        </a>
        <small>for science</small>
      </p>
		</footer>
		
		<script type="text/javascript" src="/js/update.js"></script>
		<script type="text/javascript" src="/js/timer_model.js"></script>
		<script type="text/javascript" src="/js/timer.js"></script>
		<script type="text/javascript" src="/js/presentator.js"></script>
		
		<script>
		  var tPresentator = new Presentator(document.getElementById('presentations'));
		</script>
		
	</body>
</html>
