body {
	margin: 35px auto;
	width: 640px;
}

header {
	text-align: center;
	margin: 0 0 20px;
}

header h1 {
	display: inline;
	font-size: 32px;
}

header h1 a:link, header h1 a:visited {
	color: #444;
	text-decoration: none;
}

header h2 {
	font-size: 16px;
	font-style: italic;
	color: #999;
}

.icon {
    margin-left: 3px;
}

#main {
	margin: 0 0 20px;
}

#add {
	margin: 0 0 20px;
}

#add textarea, #edit textarea {
	height: 30px;
	width: 620px;
	padding: 10px;
	border: 1px solid #ccc;
}

#add input, #edit input {
  cursor: pointer;
  display: block;
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  padding: 10px 10px;
}

input.delete {
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #b32b21;
  margin-top: 20px;
  color: white;
  padding: 8px 10px;
}

article {
	border: 1px solid #ccc;
	border-top: none;
	padding: 15px 10px;
}

article:first-of-type {
	border: 1px solid #ccc;
}

article:nth-child(even) {
	background: #fafafa;
}

article span {
	font-size: 0.8em;
}

p {
	margin: 0 0 5px;
}

.meta {
	font-size: 0.8em;
	font-style: italic;
	color: #888;
}

button.trigger {
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: white;
    float: right;
    padding: 8px 10px;
}

.countdownString {
	font-size: 50px;
    text-align: center;
    line-height: 87px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.countdownString.negative {
    color: maroon;
}

.countdownString a {
	display: block;
	text-decoration: none;
}

#completed {
    margin-top: 20px;
}

#completed article.complete {
    opacity: 0.6;
}

#completed article.complete:hover {
    opacity: 1.0;
}

article.upcoming {
    position: relative;
}

.github {
  top: 5px;
  position: relative;
  margin-right: 5px;
  text-decoration: none;
  font-size: 30px;
}

#add .minutes {
  margin-bottom: 20px;
}
#add select {
  background-color: white;
}
